<wi-navbar></wi-navbar>
<div class="row-fluid">
<div class="col-md-4">
  <h3>Perfil</h3>

  <form role="form">
    <p class="form-group">
      <label>ID</label>
      <br />{{user.uid}}
    </p>

    <p class="form-group">
      <label>Nombre:</label>
      <input type="text" name="name" ng-model="profile.name" class="form-control" />
    </p>

    <p class="form-group">
      <label>Email:</label>
      <br />{{profile.email}}
    </p>
  </form>

  <p>
    <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
  </p>
</div>

<div class="col-md-4">
<form role="form">
  <h3>Cambiar Contraseña</h3>

  <p class="form-group">
    <label>Antigua Contraseña:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Nueva Contraseña:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Confirmar Nueva Contraseña:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">Confirmar</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div class="col-md-4">
<form>
  <h3>Cambiar Email</h3>

  <p class="form-group">
    <label>Nuevo Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
  </p>

  <p class="form-group">
    <label>Contraseña:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">Actualizar Email</button>
</form>
</div>

</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
