
<h1>Incidencias</h1>

<div class="row" ng-show="issues.length">
  <div class="list-group col-md-6">
    <a class="list-group-item" ng-repeat="issue in issues" ng-click="issueDetails(issue)"
        ng-class="{'list-group-item-danger': issue.level.id==='4' ,
        'list-group-item-warning': issue.level.id==='3',
         'list-group-item-info': issue.level.id==='2' ,
         'list-group-item-primary': issue.level.id==='1' }" >
      <h4 class="list-group-item-heading">{{issue.description}}</h4>
      <p class="list-group-item-text">{{issue.summary}}</p>
    </a>
    <button class="btn-lg btn-info btn-block" ng-click="newIssue()">Nueva Incidencia</button>
  </div>

<div class="col-md-6">
<form ng-show="showFormDetails" ng-submit="save(currentIssue)">
  <fieldset class="form-group" ng-disabled="!edit">
    <label for="project">Proyecto:</label>
    <input type="text" class="form-control" id="project" ng-model="currentIssue.name">
  <!--</fieldset>-->
  <!--<fieldset class="form-group">-->
    <label for="description">Descripción:</label>
    <input id="description" type="text" class="form-control" ng-model="currentIssue.description">
  <!--</fieldset>-->
  <!--<fieldset class="form-group">-->
    <label for="summary">Resumen</label>
    <textarea class="form-control" id="summary" ng-model="currentIssue.summary" rows="3"></textarea>
  <!--</fieldset>-->
  <!--<fieldset class="form-group">-->
    <label for="level">Nivel:</label>
    <select class="form-control" id="level" ng-options="option.name for option in detailsLevel.availableOptions track by option.id"
            ng-model="currentIssue.level">
    </select>
  <!--</fieldset>-->
  <!--<fieldset class="form-group">-->
    <label for="state">Estado</label>
    <select class="form-control" id="state" ng-options="option.name for option in detailsState.availableOptions track by option.id"
            ng-model="currentIssue.state"  ng-change="changeState()" >
    </select>
    <div ng-show="showNewHistory">
      <label for="newHistory" >Justificación:</label>
      <textarea class="form-control" id="newHistory" ng-model="newHistory" rows="3"></textarea>
  </div>

  <h4>Historial</h4>
  <div  ng-repeat="history in currentIssue.histories track by $index">
    <p>{{history}}</p>
  </div>
  </fieldset>
  <button type="submit" ng-show="edit" class="btn btn-primary">OK</button>
  <button type="button" ng-show="edit" ng-click="cancelClick()" class="btn btn-danger">Cancelar</button>
  <button type="button" ng-show="!edit" ng-click="editClick()" class="btn btn-warning">Editar</button>
  <button type="button" ng-show="!edit"  data-toggle="modal" data-target="#areYouSure" class="btn btn-warning">Eliminar</button>

</form>
<p class="alert alert-danger" ng-show="err">{{err}}</p>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="areYouSure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Precaución</h4>
      </div>
      <div class="modal-body">
        Esto eliminará definitivamente de la Base de datos la incidencia, está seguro?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteClick(currentIssue)">Ok</button>
      </div>
    </div>
  </div>
</div>
